body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.body-home{
    margin: 0;
    background-color: rgba(233, 181, 8, 0.889)
  }
  
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    border: 6px solid #2d08eae8;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    max-height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background-color: white;
    
}

.card-image {
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saludo,
.preparado {
    text-align: center;
    margin-bottom: 10px;
}

.saludo {
    color: rgb(37, 13, 193);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.boton {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.boton:hover {
    background-color: #0056b3; 
}

.boton:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}